{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load staticfiles %}
{% load url from future %}

{% block content %}
<div data-role="page" id="index">
  <div data-role="content" class="content">
    <h1>HE-Arc Gestion | Appagoo</h1>
    <h2>Appagoo est un projet de recherche de la HE-Arc Gestion dans le domaine de l’assistance à la protection de la vie privée.</h2>
    <div><a href="{% url 'intro' %}"><img src="{% static 'splash/img/play.png' %}" alt="JOUER !" /></a></div>
    <p>Le projet vise à développer un outil d’aide à la décision permettant d’évaluer le danger potentiel des applications mobiles par rapport à sa propre perception de la protection de la vie privée. Nous n’avons malheureusement pas encore de résultats à présenter, mais vous pouvez déjà tester vos connaissances en aidant notre détective Spank à résoudre sa nouvelle enquête.</p>
  </div>
</div>
{% endblock %}