[data-role=page]
{
    height: 100% !important;
    position:relative !important;
}

[data-role=footer]
{
    bottom:0;
    position:absolute !important;
    top: auto !important;
    width:100%;
}

.content
{
    overflow:auto;
    height:85%;
}

.lickert
{
    left:1%;
    bottom:45px;
    position:absolute !important;
    top: auto !important;
    width:98%;
}

.next
{
    left:1%;
    bottom:45px;
    position:absolute !important;
    top: auto !important;
    width:98%;
}

.speech
{
    height: 20%;
    min-height:100px;
    max-height:300px;

}

.character
{
    max-width:100%;
    max-height:100%;
}

.process
{
    text-align:center;
}

.character img
{
    max-width: 100%;
    height: auto;
    width: auto;
}

.detective-badge
{
    overflow : auto;
    font-family: courier;
    border: #333333 solid;
    border-radius: 15px;
    background-image: url('../img/paper-texture.jpg');
    left:1%;
    width:98%;
    margin-bottom:80px;
}

.detective-badge div
{
    overflow: auto;
    clear:left;
}

.title
{
    background-color: #333333;
    color: #fff;
    padding:10px;
}

.basic-information span{
    display:inline;
    float:left;
}

.id-photo
{
    width:30%;
}

.id-photo img
{
    max-width: 150px;
    max-height: 150px;
    border: black solid;
    margin:10%;
}

.address
{
    float: left;
    margin-left:10px;
    width:65%;
}

.information
{
    float: left;
    margin-top : 10px;
    margin-left : 1%;
    width:98%;
}

.invitations
{
    overflow : auto;
    left:1%;
    width:98%;
    margin-bottom:80px;
}

#noteimage {
    width:200px;
    height: 200px;
    display:none;
}

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	color:#fff;
	background:#075698; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(#2e88c4, #075698);
	background:-o-linear-gradient(#2e88c4, #075698);
	background:linear-gradient(#2e88c4, #075698);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2e88c4));
	background:-moz-linear-gradient(#075698, #2e88c4);
	background:-o-linear-gradient(#075698, #2e88c4);
	background:linear-gradient(#075698, #2e88c4);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
	margin-left:40px;
	background:#075698;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
	margin-right:40px;
	background:#075698;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#075698 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #075698;
}