{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page13">
        <div data-role="content">
            <p class="triangle-right">Merci pour votre aide, tentez maintenant de multiplier vos chances pour le tirage au sort final!</p>
            <div class="character">
                <img src="{%  static "game/img/Spank.gif" %}"/>
            </div>
            <a href="roulette/" data-role="button" data-icon="arrow-r" class="next">Suite</a>
        </div>
    </div>
{% endblock %}