{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page11">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="bu-c-to"></div>
                <div class="bu-c-tx">
                    Chiara, a emprunté le téléphone de Nabina plusieurs fois pour passer des appels lorsque son forfait était épuisé... Elle affirme également n’avoir rien fait d’autre. Hum, en faisant mon enquête, j'ai quand même retrouvé la trace de quelques SMS qu’elle a  envoyés...
                </div>
                <div class="suspect bu-c-suspect">
                    <img src="{%  static "game/img/chiara.png" %}"/>
                </div>
                <div class="bu-c-bo"></div>
            </div>
            <a href="question1" data-role="button" data-icon="arrow-r" class="next-suspect" data-theme="e">Suite</a>
        </div>
    </div>
{% endblock %}