{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page12">
        <div data-role="content" class="content">
            <div class="suspect">
                <img src="{%  static "game/img/Simone.jpg" %}"/>
            </div>
            <div id="target" class="speech-mini">
                <p class="triangle-right right">Simone, adore prendre des photos d'elle et Nabina. Le téléphone de Nabina comporte plusieurs photos d'elles. Ella a même partagé quelques clichés sur certains réseaux sociaux...</p>
            </div>
            <div class="character-mini">
                <img src="{%  static "game/img/Spank.gif" %}"/>
            </div>
            <a href="page13" data-role="button" data-icon="arrow-r" class="next">Suite</a>
        </div>
    </div>
{% endblock %}