{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page12">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="bu-c-to"></div>
                <div class="bu-c-tx">
                    Simone est totalement accro aux réseaux sociaux. Elle passe son temps à prendre des photos d’elle et de Nabina. Le téléphone de Nabina en est rempli et certaines pourraient choquer un public non averti!?! Durant mon enquête, j’ai retrouvé la trace de quelques photos que Simone a partagées sur les réseaux sociaux, mais rien de bien grave pour le moment...
                </div>
                <div class="suspect bu-c-suspect">
                 <img src="{%  static "game/img/simone.png" %}"/>
                </div>
                <div class="bu-c-bo"></div>
            </div>

            <a href="question2" data-role="button" data-icon="arrow-r" class="next-suspect" data-theme="e">Suite</a>
        </div>
    </div>
{% endblock %}