{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page15">
        <div data-role="content" class="content">
            <div id="target" class="speech">
                <p class="triangle-right">On a un peu avancé, mais je dois t’avouer que je ne suis pas encore convaincue par les résultats. J’ai demandé à Martin de nous donner un coup de main. Martin est spécialisé en informatique de gestion et il a une piste qui est intéressante…</p>
            </div>
            <div class="character">
                <img src="{%  static "game/img/Spank.gif" %}"/>
            </div>
            <a href="/game/page16" data-role="button" data-icon="arrow-r" class="next">Suite</a>
        </div>
    </div>
{% endblock %}