{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page15">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="bu-to"></div>
                <div class="bu-tx">
                    Hello, moi c’est Martin ! Comme je le disais à Spank, depuis les dernières révélations sur l’espionnage des USA, je pense que les fabricants de téléphones et les développeurs d’applications sont des espions à la botte des grandes puissances. Ils utilisent nos téléphones pour nous espionner. Regardez ce qu’ils ont fait à Angela Merkel!
                </div>
                <div class="bu-bo"></div>
            </div>
            <div class="character">
                <img src="{%  static "game/img/martin2.gif" %}"/>
            </div>
            <a href="/game/page17" data-role="button" data-icon="arrow-r" class="next" data-theme="e">Suite</a>
        </div>
    </div>
{% endblock %}