{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page15">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="bu-to"></div>
                <div class="bu-tx">
                    Merci Martin ! Je pense qu’il faut un peu relativiser... Nabina n’est pas Angela Merkel, elle n’intéresse pas les autres puissances à ce point ;-) Et toi, qu’est-ce que tu en penses..?
                </div>
                <div class="bu-bo"></div>
            </div>
            <div class="character">
                <img src="{%  static "game/img/spank4.gif" %}"/>
            </div>
            <a href="/game/privacy1" data-role="button" data-icon="arrow-r" class="next" data-theme="e">Suite</a>
        </div>
    </div>
{% endblock %}