{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page19">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="bu-to"></div>
                <div class="bu-tx">
                    Avec ce que l’on a appris, le smartphone devient suspect! Il pourrait être utilisé pour espionner Nabina à son insu... Non mais allo quoi! Un téléphone qui espionne c’est comme une fille qui n’a pas de shampoing...
                </div>
                <div class="bu-bo"></div>
            </div>
            <div class="character">
                <img src="{%  static "game/img/spank2.gif" %}"/>
            </div>
            <a href="/game/page20" data-role="button" data-icon="arrow-r" class="next" data-theme="e">Suite</a>
        </div>
    </div>
{% endblock %}