{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page2">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="bu-to"></div>
                <div class="bu-tx">
                    Avant de pouvoir m’accompagner dans cette enquête, il va falloir te munir de ton badge de détective. Regarde le mien...
                </div>
                <div class="bu-bo"></div>
            </div>
            <div class="character character-left">
                <img src="{%  static "game/img/Spank.gif" %}"/>
            </div>
            <a href="page3" data-role="button" data-icon="arrow-r" class="next" data-theme="e">Suite</a>
        </div>
    </div>
{% endblock %}