{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page20">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="news-tx">
                    <img src="{% static 'game/img/news.gif' %}" /><br>
                    "...Une application mise au point par des chercheurs est capable de cartographier l’intérieur d’une
habitation à partir de photos subtilisées depuis un Smartphone. [...] Le maliciel (logiciel malveillant), qui s’installe en tâche de fond d’applications à l’apparence innocente, censées
améliorer les capacités photographiques de l’appareil. Les clichés dérobés sont ensuite envoyés vers les serveurs des «pirates», où un programme se
charge de modéliser en 3D l’intérieur de l’appartement de la victime..." [extrait d'un article paru aujourd'hui dans le 19 min]
                </div>
                <div class="news-bo"></div>
            </div>
            <a href="/game/page21" data-role="button" data-icon="arrow-r" class="next" data-theme="e">Suite</a>
        </div>
    </div>
{% endblock %}