{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page21">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="bu-to"></div>
                <div class="bu-tx">
                    Ca ne s’arrange pas cette enquête... Je n’ai pas réussi à disculper les suspects et j’ai un coupable de plus! Si l’on en croit 19 minutes, on ne va plus pouvoir utiliser de smartphone... Je ne suis pas convaincue! Et toi, qu’est-ce que tu en penses?
                </div>
                <div class="bu-bo"></div>
            </div>
            <div class="character">
                <img src="{%  static "game/img/spank1.gif" %}"/>
            </div>
            <a href="/game/privacy2" data-role="button" data-icon="arrow-r" class="next" data-theme="e">Suite</a>
        </div>
    </div>
{% endblock %}