{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="page22">
        <div data-role="content" class="content">
            <div id="target" class="speech">
                <p class="triangle-right">Pour te remercier de ta perspicacité tout au long de cette enquête, je vais t’offrir la possibilité de multiplier tes chances lors du tirage finale…</p>
            </div>
            <div class="character">
                <img src="{%  static "game/img/Spank.gif" %}"/>
            </div>
            <a href="/game/roulette" data-role="button" data-icon="arrow-r" class="next">Suite</a>
        </div>
    </div>
{% endblock %}