{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="access">
        <div data-role="content" class="content">
            <div id="target" class="speech">
                <p class="triangle-right">Ah, j’oubliais ! Est-ce que je peux accéder aux contacts de ton smartphone pour comparer tes résultats à ceux de tes amis qui ont également participé à cette enquête ?</p>
            </div>
            <div class="character">
                <img src="{%  static "game/img/Spank.gif" %}"/>
            </div>
            <a href="/game/page24/yes" data-role="button" data-icon="arrow-r" class="next">Oui</a>
            <a href="/game/page24/no" data-role="button" data-icon="arrow-r" class="next">Non</a>
        </div>
    </div>
{% endblock %}