{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="bye">
        <div data-role="content" class="content">
            <div class="bulle">
                <div class="bu-to"></div>
                <div class="bu-tx">
                    Avant de se dire au revoir, tu peux aller faire scanner le code qui s’affiche ci-dessous sur le stand de la HEG (1e étage) pour gagner des fabuleux prix instantanés! Viens nous dire bonjour et repars avec un linge de bain pour tes prochaines vacances balnéaires ou d’autres super prix...
                </div>
                <div class="bu-bo"></div>
            </div>
            <div class="qrcode">
                <img src="{% url "create-qr-png" player.id %}" />
                <p>Code du joueur: {{ player.id }}</p>
            </div>
        </div>
    </div>
{% endblock %}