{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="bye">
        <div data-role="content" class="content">
            <div class="qrcode">
                <img src="http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl={{ player.id }}" />
                <p>Code du joueur: {{ player.id }}</p>
            </div>
            <div id="target" class="speech-qrcode">
                <p class="triangle-right right">Avant de se dire au revoir, tu peux aller faire scanner le code qui s’affiche ci-dessous sur le stand de la HEG (1e étage) pour gagner des fabuleux prix instantanés ! Viens nous dire bonjours et repars avec un linge de bain pour tes prochaines vacances balnéaires ou d’autres super prix…</p>
            </div>
            <div class="character-qrcode">
                <img src="{%  static "game/img/Spank.gif" %}"/>
            </div>
        </div>
    </div>
{% endblock %}