{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="chart">
        <div data-role="content">
            <div class="bulle">
                <div class="bu-to"></div>
                <div class="bu-tx">
                    Voilà donc le résultat... intéressant!<br>
                    Tu peux encore changer d'avis! Clique sur la photo du coupable...

            <table class="chart">
                <tr class="spacing">
                    <td></td>
                </tr>
                <tr>
                    <td><a href="{% url "culprit" "Chiara" %}"><img src="{%  static "game/img/Chiara.jpg" %}"/></a></td>
                    {% for i in chiaragreen %}
                        <td style="background-color: red"></td>
                    {% endfor %}
                    {% for i in chiara %}
                        <td style="background-color: green"></td>
                    {% endfor %}
                </tr>
                <tr class="spacing">
                    <td></td>
                </tr>
                <tr>
                    <td><a href="{% url "culprit" "Simone" %}"><img src="{%  static "game/img/Simone.jpg" %}"/></a></td>
                    {% for i in simonegreen %}
                        <td style="background-color: red"></td>
                    {% endfor %}
                    {% for i in simone %}
                        <td style="background-color: green"></td>
                    {% endfor %}
                </tr>
                <tr class="spacing">
                    <td></td>
                </tr>
                <tr>
                    <td><a href="{% url "culprit" "Richard" %}"><img src="{%  static "game/img/Richard.jpg" %}"/></a></td>
                    {% for i in richardgreen %}
                        <td style="background-color: red"></td>
                    {% endfor %}
                    {% for i in richard %}
                        <td style="background-color: green"></td>
                    {% endfor %}
                </tr>
                <tr class="spacing">
                    <td></td>
                </tr>
                <tr>
                    <td><a href="{% url "culprit" "Autre" %}"><img src="{%  static "game/img/phone.JPG" %}"/></a></td>
                        <td style="background-color: red"></td>
                        <td style="background-color: red"></td>
                        <td style="background-color: red"></td>
                        <td style="background-color: red"></td>
                        <td style="background-color: green"></td>
                </tr>
                <tr class="spacing">
                    <td></td>
                </tr>
            </table>
            </div>
                <div class="bu-bo"></div>
            </div>
        </div>
    </div>
{% endblock %}