{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="chart">
        <div data-role="content">
            Voilà donc le résultat... intéressant!
            <table class="chart">
                <tr class="spacing">
                    <td></td>
                </tr>
                <tr>
                    <td><a href="{% url "coupable" "Chiara" %}"><img src="{%  static "game/img/Chiara.jpg" %}"/></a></td>
                    {% for i in chiaragreen %}
                        <td style="background-color: red"></td>
                    {% endfor %}
                    {% for i in chiara %}
                        <td style="background-color: green"></td>
                    {% endfor %}
                </tr>
                <tr class="spacing">
                    <td></td>
                </tr>
                <tr>
                    <td><a href="{% url "coupable" "Simone" %}"><img src="{%  static "game/img/Simone.jpg" %}"/></a></td>
                    {% for i in simonegreen %}
                        <td style="background-color: red"></td>
                    {% endfor %}
                    {% for i in simone %}
                        <td style="background-color: green"></td>
                    {% endfor %}
                </tr>
                <tr class="spacing">
                    <td></td>
                </tr>
                <tr>
                    <td><a href="{% url "coupable" "Richard" %}"><img src="{%  static "game/img/Richard.jpg" %}"/></a></td>
                    {% for i in richardgreen %}
                        <td style="background-color: red"></td>
                    {% endfor %}
                    {% for i in richard %}
                        <td style="background-color: green"></td>
                    {% endfor %}
                </tr>
                <tr class="spacing">
                    <td></td>
                </tr>
            </table>
            Tu peux encore changer d'avis! Clique sur la photo du coupable...
            <a href="{% url "coupable" %}" data-role="button" data-icon="arrow-r" class="next">Suite</a>
        </div>
    </div>
{% endblock %}