{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="gipcq/{{ poll.sequence }}">
        <div data-role="content">
            <div class="bulle">
                <div class="bu-to"></div>
                <div class="bu-tx">
                    {{ poll.question }}
                </div>
                <div class="bu-bo"></div>
            </div>
            <div class="character character-question">
                <img src="{%  static "game/img/spank3.gif" %}"/>
            </div>
            <div class="lickert">
                <form action="{% url 'gipc_question' poll.next.sequence %}" method="post">{% csrf_token %}
                    <input type="range" name="answer" id="slider-step" value="1" min="1" max="5" step="1" data-theme="e" />
                    <input type="hidden" name="sequence" value={{ poll.sequence }} />
                    <input id="questions" type="submit" value="Suite" data-icon="arrow-r" data-theme="e" />
                </form>
            </div>
        </div>
    </div>
{% endblock %}