{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="multiply">
        <div data-role="content" class="content">
            Bravo, tu peux multiplier tes chances par {{ prize }} ! Aides-nous à clôturer cette enquête au plus vite en entrant {{ prize }} adresses e-mails de tes amis afin qu’ils puissent, eux aussi, m’aider dans cette enquête. Avec chaque participant tu augmentes tes chances !!!
            <div class="process">
                <form action="/game/bye/" method="post">{% csrf_token %}
                    <div class="invitations">
                       {% for i in factor %}
                           <label for="email_{{ i }}">Email ami n°{{ i|add:"1" }}</label>
                           <input type="hidden" name="factor" value="{{ factor_id }}">
                           <input type="text" name="email_{{ i }}"><br>
                        {% endfor %}
                    </div>
                    <input type="submit" value="Suite" data-icon="arrow-r"/>
                </form>
            </div>
        </div>

    </div>
{% endblock %}