{% extends 'game/iOSAndjQueryMobileBase.html' %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
    <div data-role="page" id="permissions">
        <div data-role="header">
            <h1>Autorisations</h1>
        </div>
        <div data-role="content">
            <div id="dialog" title="Autorisations">
                <p>Autoriser cette application à :</p>
                <ul>
                    <li>Votre position</li>
                    <li>Communication réseau</li>
                    <li>Appels téléphoniques</li>
                    <li>Stockage</li>
                    <li>Contrôle du matériel</li>
                    <li>Vos informations personnelles</li>
                </ul>
                <div class="next-permissions">
                    <form action="/game/page1" method="post">{% csrf_token %}
                        <input type="hidden" name="permissions" value="accepted"/>
                        <input type="submit" value="Accepter" />
                    </form>
                    <a href="../refused" data-role="button">Refuser</a>
                </div>
            </div>
        </div>
        <div data-role="footer">
            <h4>Copyright HE-ARC 2013</h4>
        </div>
    </div>
{% endblock %}