{% extends "booth/master-booth.html" %}
{% load staticfiles %}
{% block content %}


<script type="text/javascript">
function bumperPress()
{
    window.location.href = {% url "booth-adscreen" %};
    return false;
}
</script>

<style>
    @font-face {
        font-family: OCRA;
        src: url({% static 'booth/img/OCRA.ttf' %});
    }
    @font-face {
        font-family: OCRABold;
        src: url({% static 'booth/img/OCRABold.ttf' %});
    }
    @font-face {
        font-family: OCRACondensed;
        src: url({% static 'booth/img/OCRACondensed.ttf' %});
    }
    @font-face {
        font-family: OCRAItalic;
        src: url({% static 'booth/img/OCRAItalic.ttf' %});
    }
    #cheater {
        font-family: OCRABold;
        position: absolute;
        top: 350px;
        left: 474px;
        width: 575px;
        font-size: 35px;
        color: whitesmoke;
    }
</style>

<div id="background">
    <img src="{% static 'booth/img/cheater.png' %}" />
</div>

<div id="cheater">
    <p>{{ player.prize.label }}!</p>
</div>

{% endblock content %}