{% extends "booth/master-booth.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">
function bumperPress()
{
    window.location.href = '{% url "booth-prize" player.id %}';
    return false;
}
</script>

<style>
    @font-face {
        font-family: OCRA;
        src: url({% static 'booth/img/OCRA.ttf' %});
    }
    @font-face {
        font-family: OCRABold;
        src: url({% static 'booth/img/OCRABold.ttf' %});
    }
    @font-face {
        font-family: OCRACondensed;
        src: url({% static 'booth/img/OCRACondensed.ttf' %});
    }
    @font-face {
        font-family: OCRAItalic;
        src: url({% static 'booth/img/OCRAItalic.ttf' %});
    }
    #badge {
        font-family: OCRA;
        position: absolute;
        top: 105px;
        left: 80px;
        width: 375px;
    }
    .information {
        padding-top: 50px;
    }
    #chiara {
        position: absolute;
        top: 134px;
        left: 875px;
    }
    #chiarared {
        background-color: #CC3333;
        width: {{ chiarared }}px;
        height: 57px;
        float: left;
    }
    #simone {
        position: absolute;
        top: 231px;
        left: 875px;
    }
    #simonered {
        background-color: #CC3333;
        width: {{ simonered }}px;
        height: 57px;
        float: left;
    }
    #richard {
        position: absolute;
        top: 328px;
        left: 875px;
    }
    #richardred {
        background-color: #CC3333;
        width: {{ richardred }}px;
        height: 57px;
        float: left;
    }
    #smartphone {
        position: absolute;
        top: 425px;
        left: 875px;
    }
    #smartphonered {
        background-color: #CC3333;
        width: 168px;
        height: 57px;
        float: left;
    }
    .resultbarend {
        float: left;
    }
    #culprit {
        position: absolute;
        left: 645px;
    {% if player.coupable == 'Chiara' %}
        top: 116px;
    {% elif player.coupable == 'Simone' %}
        top: 213px;
    {% elif player.coupable == 'Richard' %}
        top: 310px;
    {% elif player.coupable == 'Autre' %}
        top: 410px;
    {% endif %}
    }
</style>

<div id="background">
    <img src="{% static 'booth/img/results_background.png' %}" />
</div>
<div id="badge">
        <div>
            <h2>{{ player.lastname|upper }}, {{ player.firstname }}</h2>
        </div>
        <div class="basic-information">
            <span class="address">
                {% if player.address %}{{ player.address }}</br>{% endif %}
                {% if player.postcode %}{{ player.postcode }} {% endif %}{% if player.locality %}{{ player.locality }}{% endif %}{% if player.postcode or player.locality %}</br>{% endif %}
                {% if player.country %}{{ player.country }}{% endif %}
            </span>
        </div>
        <div class="information">
            {% if player.gender %}<b>Sexe:</b> {{ player.gender }}</br>{% endif %}
            {% if player.height %}<b>Taille:</b> {{ player.height }} cm</br>{% endif %}
            {% if player.weight %}<b>Poids:</b> {{ player.weight }} kg</br>{% endif %}
            {% if player.distinctive_signs %}<b>Signe(s) distinctif(s):</b> {{ player.distinctive_signs }}</br>{% endif %}
            {% if player.education %}<b>Formation:</b> {{ player.education }}</br>{% endif %}
            {% if player.email %}<b>Email:</b> {{ player.email }}</br>{% endif %}
            {% if player.origin %}<b>Origine:</b> {{ player.origin }}{% endif %}
        </div>
</div>
<div id="results">
    <div id="chiara">
        <div id="chiarared">&nbsp;</div><div class="resultbarend"><img src="{% static 'booth/img/resultbar_end.png' %}"></div>
    </div>
    <div id="simone">
        <div id="simonered">&nbsp;</div><div class="resultbarend"><img src="{% static 'booth/img/resultbar_end.png' %}"></div>
    </div>
    <div id="richard">
        <div id="richardred">&nbsp;</div><div class="resultbarend"><img src="{% static 'booth/img/resultbar_end.png' %}"></div>
    </div>
    <div id="smartphone">
        <div id="smartphonered">&nbsp;</div><div class="resultbarend"><img src="{% static 'booth/img/resultbar_end.png' %}"></div>
    </div>
    <div id="culprit">
        <img src="{% static 'booth/img/culprit-arrow.png' %}"
    </div>
</div>

{% endblock content %}