{% extends 'followup/master.html' %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-lg-12">
    <h1>Contact</h1>
</div>
</div>
<div class="row">
<div class="col-lg-2">
    <img src="{% static 'followup/img/martin2.gif' %}" width="80%" />
</div>
<div class="col-lg-10">
    Haute école de gestion Arc<br>
    Prof. Dr. Cédric Gaspoz<br>
    Espace de l'Europe 21<br>
    CH-2000 Neuchâtel<br>
    <br>
    Tél: +41 32 930 2088<br>
    Email: <a href="mailto:cedric.gaspoz@he-arc.ch">cedric.gaspoz@he-arc.ch</a><br>
    <br>
    Web: <a href="http://people.he-arc.ch/cedric.gaspoz">http://people.he-arc.ch/cedric.gaspoz</a>
</div>
</div>
<div class="row">
<div class="col-lg-12 text-center">
&nbsp;
</div>
</div>
{% endblock content %}