{% extends 'followup/master.html' %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-lg-12">
    <h1>Profils</h1>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="alert alert-info">
   <h3>Insouciance combative</h3>
   <p>Tu es le profil idéal pour toutes les organisations assoiffées de données personnelles. Tu n’as pas hésité à nous
      dévoiler toutes tes informations, soit de manière volontaire en remplissant ta carte de détective, soit en
      autorisant l’application à venir se servir toute seule sur ton smartphone, dans le seul but de recevoir un petit
      cadeau de notre part.</p>
   <p>Ton attitude est très appréciée des spécialistes du marketing et de la vente de données personnelles. Sans avoir
      analysé dans les détails les informations que tu as transmises, je dirai que ton profil complet vaut entre CHF
      4.- et 6.- selon la qualité des données… dans tous les cas bien plus que le prix que tu as ramené à la maison.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-2">
    <img src="{% static 'followup/img/martin2.gif' %}" width="80%" />
</div>
<div class="col-lg-10">
<div class="alert alert-danger">
   <h3>Le conseil de Martin</h3>
   <p>Si je peux te donner un conseil à l’avenir, pense à faire attention au moment d’installer une application sur ton
      smartphone au rapport entre les droits qui te sont demandés et les fonctionnalités qui te sont offertes par
      l’application. Par exemple, il n’y a aucune raison de te demander accès à ton carnet d’adresses ou à ta
      localisation pour faire un jeu en ligne. Si c’est le cas, l’application va se servir de tes données personnelles
      à d’autres fins que le jeu lui-même. On estime à environ 50% le nombre d’applications qui collectent des
      données personnelles à d’autres fins que le bon fonctionnement de l’application elle-même.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="alert alert-info">
   <h3>Prudence naïve</h3>
   <p>Tu représentes le profil type de l’utilisateur de smartphone. Tu as entendu parler des nombreux risques liés à
      l’exploitation non autorisées des données personnelles, mais fais encore preuve de trop de naïveté face aux
      éditeurs d’applications. On remarque que tu essaie de te protéger, soit en donnant des informations partiellement
      correctes, soit en refusant explicitement certains accès à tes informations personnelles. Toutefois, tu baisses
      la garde pour gagner un petit cadeau ;-)</p>
   <p>Ton attitude est toutefois appréciée des spécialistes du marketing et de la vente de données personnelles. Tu
      poses un petit problème, car il va falloir nettoyer tes données avant de pouvoir les utiliser, et la valeur de
      ton profil chute aux alentours de CHF 0.50 à 1.50 selon la qualité des données... dans tous les cas bien plus que
      le prix que tu as ramené à la maison.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-2">
    <img src="{% static 'followup/img/martin2.gif' %}" width="80%" />
</div>
<div class="col-lg-10">
<div class="alert alert-danger">
   <h3>Le conseil de Martin</h3>
   <p>Si je peux te donner un conseil à l’avenir, fais attention à la protection de tes données personnelles au moment
      d’installer les applications. En effet, si une application te demande des accès importants à ton smartphone lors
      de l’installation, tu n’auras plus aucun moyen de contrôler les informations qui seront transmises à des tiers.
      Par exemple, si l’application à accès aux informations de ton compte, elle n’a plus besoin de te demander
      explicitement de lui donner tes informations de contact car elle peut aller les récupérer toute seule, sans
      demander ta permission. On estime à environ 50% le nombre d’applications qui collectent des données personnelles
      à d’autres fins que le bon fonctionnement de l’application elle-même.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-12">
<div class="alert alert-info">
   <h3>Défense intéressée</h3>
   <p>Tu as un profil atypique. D’un côté, tu es conscient des risques liés à la protection de la vie privée dans le
      domaine des applications mobiles, et de l’autre tu es quand même intéressé à recevoir des petits cadeaux, même
      s'il faut faire des compromis sur la protection de ta sphère privée. Tu es moins en danger que les autres profils,
      mais tu ne dois pas oublier de faire le calcul coût/bénéfice lors de la transmission de données personnelles à
      des fins commerciales. Par exemple, est-ce que le porte-clés que j’ai gagné vaut bien le fait de transmettre mon
      adresse e-mail, au risque de recevoir de nombreux messages publicitaires.</p>
   <p>Ton attitude n’est pas très appréciée des spécialistes du marketing et de la vente de données personnelles. En
      général, les données collectées à ton propos ne sont pas réutilisables ou sont alors de mauvaise qualité (profil
      incomplet). Sur le marché, tes données valent quelques centimes tout au plus et sont le plus souvent revendues
      dans des paquets de plusieurs centaines de milliers d’adresses.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-2">
    <img src="{% static 'followup/img/martin2.gif' %}" width="80%" />
</div>
<div class="col-lg-10">
<div class="alert alert-danger">
   <h3>Le conseil de Martin</h3>
   <p>Je n’ai pas vraiment de conseil à te donner, si ce n’est de continuer à faire attention, particulièrement au
      moment d’installer une nouvelle application. Les éditeurs d’applications mobiles n’hésitent pas à créer des
      applications virales, qui vont profiter de l’effet de masse pour motiver les utilisateurs à les installer, tout
      en demandant énormément de droits d’accès sur ton smartphone. C’est toujours au moment de faire le calcul
      coût/bénéfice que les éditeurs essaient de te vendre un très grand bénéfice (un super jeu qu’il faut absolument
      avoir) pour cacher le coût qui se cache derrière (accès à de très nombreuses données personnelles). On estime à
      environ 50% le nombre d’applications qui collectent des données personnelles à d’autres fins que le bon
      fonctionnement de l’application elle-même.</p>
</div>
</div>
</div>


{% endblock content %}