[data-role=page]
{
    height: 100% !important;
    position:relative !important;
}

[data-role=footer]
{
    bottom:0;
    position:absolute !important;
    top: auto !important;
    width:100%;
}

.content
{
    overflow:auto;
}

.lickert
{
    left:1%;
    position:absolute !important;
    top: auto !important;
    width:98%;
}

.next
{
}

.next-suspect
{
    left:1%;
    position:absolute !important;
    top: auto !important;
    width:98%;
}

.next-permissions
{
    left:1%;
    bottom:45px;
    position:absolute !important;
    top: auto !important;
    width:98%;
}

.speech
{
    height: 20%;
    min-height:100px;
    max-height:300px;

}

.character
{
    max-width:100%;
    max-height:100%;
    width: 30vw;
}

.character-left
{
    text-align: left;
}

.character-right
{
    text-align: right;
}

.speech-mini
{
    left:1%;
    bottom:20px;
    position:absolute !important;
    top: auto !important;
    width:80%;
    font-size: 0.8em;
}

.character-mini
{
    left:70%;
    bottom:55px;
    position:absolute !important;
    top: auto !important;
    width:78%;
}

.character-mini img
{
    width:120px;
    height: 120px;
}

.character-lickert
{
    left:30%;
    bottom:95px;
    position:absolute !important;
    top: auto !important;
    width:78%;
}

.character-lickert img
{
    width:180px;
    height: 180px;
}

.suspect
{
    text-align: center;
}

.suspect img
{
    width: 80vw;
    height: auto;
    max-width:400px;
    padding-bottom: 20px;
}

.process
{
    text-align:center;
}

.character img
{
    max-width: 100%;
    height: auto;
    width: auto;
}

#chances
{
    display:none;
}

/* THE DETECTIVE BADGE
------------------------------------------------------------------------------------------------------------------------------- */

.detective-badge
{
    overflow : auto;
    font-family: courier;
    color: #000000;
    border: #333333 solid;
    background-color: #ff6633;
    left:1%;
    width:98%;
}

.title
{
    background-color: #ff6633;
    color: #000000;
    padding-top: 3vh;
    padding-left: 15px;
    background-image: url('/static/game/img/badge_top.gif');
    background-size: auto 3vh;
    background-repeat: repeat-x;
    border-bottom: 3px dotted #000000 ;
}

.title-create
{
    background-color: #ff6633;
    color: #000000;
    padding-top: 5vh;
    background-image: url('/static/game/img/badge_top.gif');
    background-size: auto 3vh;
    background-repeat: repeat-x;
    border-bottom: 3px dotted #000000;
    margin-top : 10px;
    margin-left : 1%;
    width:98%;
}

.basic-information span{
    display:inline-block;
    vertical-align: top;
}

.id-photo img
{
    max-width: 150px;
    max-height: 150px;
    margin: 0.5em;
}

.address
{
    margin-top:10px;
    margin-left:10px;
}

.information
{
    float: left;
    margin-top : 10px;
    margin-left : 1%;
    width:98%;
}

/* THE CHART
------------------------------------------------------------------------------------------------------------------------------- */

.chart
{
    min-height: 400px;
    min-width: 300px;
}

.chart td
{
    text-align: center;
    width: 20em;
}

.chart .spacing td
{
    height:10px;
}

.chart img
{
    max-height: 100px;
    max-width: 100px;
}



/* THE EMAIL INVITATION FORM
------------------------------------------------------------------------------------------------------------------------------- */

.invitations
{
    overflow : auto;
    left:1%;
    width:98%;
}


/* THE QRCODE GENERATION
------------------------------------------------------------------------------------------------------------------------------- */

.qrcode
{
    text-align: center;
}

.qrcode img
{
    width:100%;
    height: auto;
    max-width:400px;
}

.speech-qrcode
{
    left:1%;
    bottom:0px;
    position:absolute !important;
    top: auto !important;
    width:80%;
    font-size: 0.8em;
}

.character-qrcode
{
    left:70%;
    bottom:0px;
    position:absolute !important;
    top: auto !important;
    width:78%;
}

.character-qrcode img
{
    width:120px;
    height: 120px;
}


/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	color:#000000;
	background: #99ffff; /* default background for browsers without gradient support */
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2e88c4));
	background:-moz-linear-gradient(#075698, #2e88c4);
	background:-o-linear-gradient(#075698, #2e88c4);
	background:linear-gradient(#075698, #2e88c4);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
	margin-left:40px;
	background:#075698;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
	margin-right:40px;
	background:#075698;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#99ffff transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
	top:-20px; /* value = - border-top-width - border-bottom-width */
	right:50px; /* controls horizontal position */
	bottom:auto;
	left:auto;
	border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #075698;
}

/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
	top:16px;
	left:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
	border-color:transparent #075698;
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
	top:16px;
	right:-40px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
	border-color:transparent #075698 ;
}


/* ROULETTE
------------------------------------------------------------------------------------------------------------------------------- */

/*
Description:
	Contains all the styles for the winning wheel page.
	
Verison History:
	2012-01-28
	- Created based off earlier version.
	
	2013-07-14
	- Changed font from arial to verdana so works nicely when example is displayed in site.
	- Added noCanvasMsg style so that the paragraph advising the user that their browser does not support canvas works correctly.
	
*/

body
{
	font-family: verdana, arial, sans-serif;
}

/* Sets the background image for the wheel */
td.the_wheel
{
	background-image: url(../img/wheel_back.png);
	background-position: center;
	background-repeat: none;
}

/* Do some css reset on selected elements */
h1, p
{
	margin: 0;
}

div.power_controls
{
	margin-right:70px;
}

div.html5_logo
{
	margin-left:70px;
}

/* Styles for the power selection controls */
table.power
{
	background-color: #cccccc;
	cursor: pointer;
	border:1px solid #333333;
}

table.power th
{
	background-color: white;
	cursor: default;
}

td.pw1
{
	background-color: #6fe8f0;
}

td.pw2
{
	background-color: #86ef6f;
}

td.pw3
{
	background-color: #ef6f6f;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
	cursor: pointer;
}

/* Other misc styles */
.margin_bottom
{
	margin-bottom: 5px;
}

p.noCanvasMsg
{
	color: white;
}

/* Style for the new bubbles */
.bu-tx {
    background: #99FFFF;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
}
.bu-to {
    border-bottom: 22px solid #99FFFF;
    border-left: 22px solid transparent;
}
.bu-bo {
    border-top: 22px solid #99FFFF;
    border-right: 22px solid transparent;
    margin-bottom: 10px;
}
.bu-c-tx {
    background: #cc3333;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
}
.bu-c-to {
    border-bottom: 22px solid #cc3333;
    border-left: 22px solid transparent;
}
.bu-c-bo {
    border-top: 22px solid #cc3333;
    border-right: 22px solid transparent;
    margin-bottom: 10px;
}
.bu-c-suspect {
    background: #cc3333;
}
.news-tx {
    background: #ccffcc;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
}
.news-tx img {
    width: 80vw;
}
.news-bo {
    border-top: 22px solid #ccffcc;
    border-right: 22px solid transparent;
    margin-bottom: 10px;
}

.ui-page.ui-body-c {
    background: url('/static/game/img/bg1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
